body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f2f2f2;
}

.boletim {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

.boletim h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
    table-layout: fixed;
}

th,
td {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}

.fullborder {
    border: 1px solid #ccc;
}

th {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nota {
    font-weight: bold;
    color: #28a745;
}

.falta {
    font-weight: bold;
    color: #dc3545;
}

.resultado {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.aprovado {
    color: #28a745;
}

.reprovado {
    color: #dc3545;
}

/* Estilos adicionais para dispositivos móveis */
@media (max-width: 767px) {
    .boletim {
        padding: 20px;
    }

    .boletim h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    th,
    td {
        padding: 10px;
        font-size: 16px;
    }

    th:first-child,
    td:first-child {
        padding-left: 10px;
    }

    th:last-child,
    td:last-child {
        padding-right: 10px;
    }
}